page-settings {
  ion-content{
    background-color: #EEEEEE !important;
  }
  ion-item-divider{
    background-color: #DB2C4D !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 1.8em !important;
    margin-top: 1.4em;
  }
  button{
  }
}
