page-started {
  .content{
  background-color: #EBEBEB !important;
  background-color: #3E3E3E !important;
  background-color: #eee !important;
  }
  ion-icon{
    font-size: 1.6em;
  }
  .item{
    border: 5px solid #eee;
  }
  .colorRed{
    color: red;
  }
  h4, ion-card-header{
    background-color: #0277BD;
    background-color: #DB2C4D;

    width: 100%;
    color: #fff !important;
    padding: 3%;
    font-weight: normal;
    margin-top: 0;
  }
  ion-card-header{
    background-color: #000;
    width: 100%;
    color: #fff !important;
    text-align: center;
    padding: 3%;
    font-weight: 400;
    margin-top: 0;
  }
  ion-label{
    color: #555 !important;
    font-weight: normal !important;
    font-size: 2em;
  }
  ion-avatar{
    text-align: center;
  }
  h3{
    font-size: 1.5em !important;
    color: #3481B3;
    font-weight: normal;
  }
}
